.VideoList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.VideoListItem{
    margin: 1rem;
    width: 100%;
    color: #FFF;
    text-align: left;
}

.VideoListItem:hover{
    cursor: pointer;
}

.VideoListItem.Selected .VideoListItemImage::after{
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    top: 0;
    align-content: center;
    display: flex;
    font-size: 80px;
    justify-content: center;
    color: #FFF;
    background-color: rgba(0,0,0,0.6);
    content: url("./play_white.png");
}

.VideoListItemImage{
    position: relative;
}

.VideoListItem img{
    height: auto;
    width: 100%;
}
.VideoListItem .VideoListItemBody p{
    margin: 0 0 .1rem 0;
}

.VideoListItem .VideoListItemBody .VideoListItemBodyType {
    color: gray;
}
.VideoListItem .VideoListItemLength{
    font-size: .8rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: #191919;
    padding: .25rem;
    border-radius: .25rem;
    z-index: 1;
}

@media (min-width: 540px){
    .VideoListItem{
        width: 44%;
    }
}

@media (min-width: 1024px){
    .VideoListItem{
        width: 21.5%;
    }
}
@media (min-width: 1440px){
    .VideoListItem{
        width: 22.5%;
    }
}