.SearchInput{
    display: flex;
}

.SearchInput input{
    flex-grow: 1;
    font-size: 2rem;
    background-color: #000;
    width: 100%;
    color: #FFF;
    border: none;
    outline: none;
    padding: .5rem;
}